<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="APiKey" value="key-91bb4d61267af48a42ee4e1020532c60"/>
    <add key="FromMail" value="akanksha.shahi@wwindia.com"/>
    <add key="ToMail" value="akanksha.shahi@wwindia.com"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="300000"/>
   
  </system.web>
  <system.serviceModel>
    <services>
      <service name="InshoreMailService.MailServiceInshore" behaviorConfiguration="myBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="InshoreMailService.IMailServiceInshore" behaviorConfiguration="web">

        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
maxBufferSize="2147483647"
maxBufferPoolSize="2147483647" crossDomainScriptAccessEnabled="true"  receiveTimeout="00:25:00" sendTimeout="00:25:00">
          <readerQuotas maxDepth="32"
          maxArrayLength="2147483647"
          maxStringContentLength="2147483647" />
        </binding>
        <!--<binding name="webHttpBinding" maxBufferSize="2147483647"                  
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"                                           
                 transferMode="Streamed"
                 receiveTimeout="00:25:00" sendTimeout="00:25:00"  crossDomainScriptAccessEnabled="true" >
        
        <readerQuotas  maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <security mode="None" />
        </binding>-->
      </webHttpBinding>
    </bindings>

    <!--<bindings>
      <basicHttpBinding>
        <binding receiveTimeout="00:25:00" sendTimeout="00:25:00" openTimeout="00:25:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>-->
    <!--<basicHttpBinding>
      <binding receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferSize="2147483647" messageEncoding="Mtom" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
        -->
    <!--<binding receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">--><!--
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        <security mode="TransportCredentialOnly">
          <transport clientCredentialType="None" />
        </security>
      </binding>
      <binding name="BasicHttpBinding_IJobonderAppService" />
    </basicHttpBinding>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          
          <webHttp  helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
   
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST" />
        <add name="Access-Control-Allow-Headers" value="X-Custom-Header" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <!--<serverRuntime   uploadReadAheadSize="2147483647" />-->
  </system.webServer>

</configuration>
